{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class = "container">
        <div class = "row align-items-center">
            <div class = "col-md-auto">
                <img src = "{% static 'mail/mailIcon.png' %}" style = "width: 80px;">
            </div>
            <div class = "col">
                <h2>Welcome, <strong id = "user-email">{{ request.user.email }}</strong></h2>
                <nav class="navbar navbar-expand-lg navbar-light">                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item" id = "inbox-li">
                          <a class="nav-link" id="inbox">Inbox <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" id = "compose-li">
                          <a class="nav-link" id="compose">Compose</a>
                        </li>
                        <li class="nav-item" id = "sent-li">
                            <a class="nav-link" id="sent">Sent</a>
                        </li>
                        <li class="nav-item" id = "archive-li">
                            <a class="nav-link" id="archive">Archive</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                          </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
      
    <hr>

    <div id="emails-view" class = "container">
    </div>

    <div id = "email-view" class = "container mail-div">
    </div>


    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <br>
            <button type = "submit" class = "btn btn-primary" id = "submit-btn">
                <img src = "{% static 'mail/sendIcon.png' %}" style = 'width:20px;'>
                Send
            </button>
            
            
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}